ntgcalls==1.2.1
git+https://github.com/usernein/pyromod
pyrogram
fastapi
psutil
aiofiles==24.1.0
aiohttp==3.9.5
aiosignal
beautifulsoup4
bs4
spotipy
python-dotenv
requests
ffmpeg-python
aiocron
croniter
emoji
wget
yt-dlp
numpy
opencv-python-headless
pymediainfo
attrify
gitpython
httpx[http2]==0.27.2
gpytranslate
gtts
pytimeparse
regex
Pillow
pytz
opencv-python
uvicorn
meval
aiorun
telegraph
aiosqlite
git+https://github.com/google-gemini/generative-ai-python.git@main
py-tgcalls==2.0.2
aioshutil
speechrecognition
browser-cookie-3x
TgCrypto==1.2.5
aiocron
aiofiles
aiohttp
aiorun
aioshutil
aiosqlite
attrify
beautifulsoup4
browser-cookie-3x
croniter
emoji
ffmpeg-python
gitpython
gpytranslate
gtts
meval
numpy
opencv-python
opencv-python-headless
Pillow
pymediainfo
python-dotenv
pytimeparse
pytz
regex
requests
speechrecognition
spotipy
telegraph
TgCrypto==1.2.5
uvicorn
wget
yt-dlp
filetype
geopy
google-generativeai
deep-translator
youtube-search-python
python-dateutil
pykeyboard
requests
h2
httpx[http2]
aiofiles
aiohttp
aiorun
aioshutil
aiosqlite
attrify
beautifulsoup4
croniter
deep-translator
emoji
fastapi
filetype
geopy
google-generativeai
gpytranslate
gtts
h2
httpx
meval
numpy
Pillow
pykeyboard
pyrogram
python-dateutil
python-dotenv
pytimeparse
pytz
regex
requests
spotipy
telegraph
TgCrypto
uvicorn
wget
youtube-search-python
aiofiles
aiohttp
aiorun
croniter
pyrogram
python-dotenv
pytz
fastapi
uvicorn
aiofiles
aiohttp
aiosqlite
beautifulsoup4
httpx[http2]
Pillow
psutil
pyrogram
python-dotenv
requests